html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    overflow-x: hidden;
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: auto;
    text-align: center;
    position: absolute;
    inset: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea-wrapper {
    position: relative;
    max-width: 754px;
    height: 156px;
    margin: 0 auto;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.8;
}

textarea {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    resize: none;
}

.language {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.language div {
    display: flex;
    flex-direction: column;
}